<footer>
    <section class="main-footer">
       <div class="main-footer-signup">
          <h1 class="main-footer-title">Sign up and<br>get free content every week.</h1>
          <div class="col-8">
             <form>
                <input type="email" class="main-footer-email-input" placeholder="Enter your email..." name="email">
                <button type="submit" class="main-footer-signup-button">Sign Up</button>
             </form>
          </div>
       </div>
       <ul class="main-footer-nav">
          <li class="main-footer-nav-item main-footer-nav-item--extra">
             <h2 class="main-footer-title">Browse by categories</h2>
             <ul class="main-footer-nav__ul main-footer-nav__ul--extra">
                <li><a href="#">Graphics</a></li>
                <li><a href="#">PSDs</a></li>
                <li><a href="#">Icons</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Themes</a></li>
                <li><a href="#">Addons</a></li>
                <li><a href="#">Fonts</a></li>
                <li><a href="#">Textures</a></li>
                <li><a href="#">Patterns</a></li>
                <li><a href="#">Backgrounds</a></li>
                <li><a href="#">Buttons</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">GUI</a></li>
                <li><a href="#">Navigation</a></li>
                <li><a href="#">UI Kits</a></li>
                <li><a href="#">Inforgraphics</a></li>
                <li><a href="#">Graphs</a></li>
                <li><a href="#">Logos</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Business Cards</a></li>
             </ul>
          </li>
       </ul>
    </section>
    <section class="sub-footer">
       <ul class="sub-footer-links-list">
          <li class="a"><a href="#">Affiliates</a></li>
          <li class="a"><a href="#">Contributors</a></li>
          <li class="a b"><a href="#">Press</a></li>
          <li class="a b"><a href="#">Media</a></li>
          <li class="a"><a href="#">Careers </a></li>
          <li class="a"><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <ul class="sub-footer-social-list icon-flex">
             <li><a href="#" class="icon-wrapper"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icon-wrapper"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#" class="icon-wrapper"><i class="fa fa-google"></i></a></li>
             <li><a href="#" class="icon-wrapper"><i class="fa fa-rss"></i></a></li>
          </ul>
       </ul>
    </section>
    <section class="sub-footer-legal">
       Copyright © 2018 myCompany All rights reserved.
    </section>
 </footer>