<section id="giphySearchForm">
    <div class="outer-container">
        <div class="innter-container">
            <h1 class="giphy-title">Gif Search</h1>
            <div class="form-inline">
                <input class="width rounded-pill-left" type="text" placeholder="What are you looking for?"
                    name="searchTerm">
                <button class="dropdown-button">Show All &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg"></i></button>
                <button class="search-button ripple rounded-pill-right" type="submit"><i
                        class="fa fa-search fa-lg"></i></button>
            </div>
        </div>
        <h2 class="giphy-sub-title">You can search any gif with our search</h2>
        <p class="giphy-description">Everything you need for your creative projects. websites, banners, presentations,
            magazines and advertising.
        </p>
    </div>
</section>